{% load static %}
<div class="menu">                

    <div class="breadLine">            
        <div class="arrow"></div>
        <div class="adminControl active">
            Hi, Aqvatarius
        </div>
    </div>

    <div class="admin">
        <div class="image">
            <img src="{% static 'img/users/aqvatarius.jpg' %}" class="img-thumbnail"/>                
        </div>
        <ul class="control">                
            <li><span class="glyphicon glyphicon-comment"></span> <a href="messages.html">Messages</a> <a href="messages.html" class="caption red">12</a></li>
            <li><span class="glyphicon glyphicon-cog"></span> <a href="forms.html">Settings</a></li>
            <li><span class="glyphicon glyphicon-share-alt"></span> <a href="login.html">Logout</a></li>
        </ul>
        <div class="info">
            <span>Welcom back! Your last visit: 24.10.2012 in 19:55</span>
        </div>
    </div>

    <ul class="navigation">            
        <li>
            <a href="{% url 'Usersindex' %}">
                <span class="text">Users</span>
            </a>
        </li>
        <li >
            <a href="{% url 'Religionindex' %}">
                <span class="text">Religion</span>
            </a>
        </li>
        <li>
            <a href="{% url 'Religion_categoryindex' %}">
                <span class="text">Religion Category</span>
            </a>
        </li>
        <li>
            <a href="{% url 'Statusindex' %}">
                <span class="text">Status</span>
            </a>
        </li>
        <li>
            <a href="{% url 'Educationindex' %}">
                <span class="text">Education</span>
            </a>
        </li>
        <li>
            <a href="{% url 'Occupationindex' %}">
                <span class="text">Occupation</span>
            </a>
        </li>
        <li>
            <a href="{% url 'Mothertongueindex' %}">
                <span class="text">Mother Tongue</span>
            </a>
        </li>
    </ul>    
    <div class="dr"><span></span></div>

    <div class="widget-fluid">
        <div id="menuDatepicker"></div>
    </div>

    <div class="dr"><span></span></div>

    <div class="widget">

        <div class="input-group">
            <input id="appendedInputButton" class="form-control" type="text">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </div>
        </div>           

    </div>

    <div class="dr"><span></span></div>

    <div class="widget-fluid">

        <div class="wBlock clearfix">
            <div class="dSpace">
                <h3>Last visits</h3>
                <span class="number">6,302</span>                    
                <span>5,774 <b>unique</b></span>
                <span>3,512 <b>returning</b></span>
            </div>
            <div class="rSpace">
                <h3>Today</h3>
                <span class="mChartBar" sparkType="bar" sparkBarColor="white"><!--240,234,150,290,310,240,210,400,320,198,250,222,111,240,221,340,250,190--></span>                                                                                
                <span>&nbsp;</span>
                <span>65% <b>New</b></span>
                <span>35% <b>Returning</b></span>
            </div>
        </div>

    </div>

</div>
