{% load static %}
{% include 'headeruser.html' %}

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="index.html"><img src="/static/assets/images/logo/logo.png" alt="logo"></a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler--icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav mainmenu">
            <ul>
                <li class="menu-item-has-children">
                    <a href="#0">Home</a>
                    <ul>
                        <li><a href="index.html">Home Page One</a></li>
                        <li><a href="index-2.html">Home Page Two</a></li>
                        <li><a href="index-3.html">Home Page Three</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#0">Pages</a>
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="membership.html">Membership</a></li>
                        <li><a href="comingsoon.html">comingsoon</a></li>
                        <li><a href="404.html">404</a></li>
                    </ul>
                </li>
                <li class="active menu-item-has-children">
                    <a href="#0">Community</a>
                    <ul>
                        <li><a href="community.html">Community</a></li>
                        <li><a href="group.html">All Group</a></li>
                        <li><a href="members.html">All Members</a></li>
                        <li><a href="activity.html">Activity</a></li>

                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#0">Shops</a>
                    <ul>
                        <li><a href="shop.html">Product</a></li>
                        <li><a href="shop-single.html">Product Details</a></li>
                        <li><a href="shop-cart.html">Product Cart</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#0">Blogs</a>
                    <ul>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-2.html">Blog Style Two</a></li>
                        <li><a href="blog-single.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">contact</a></li>
            </ul>
        </div>
        <div class="header__more">
            <button class="default-btn dropdown-toggle" type="button" id="moreoption" data-bs-toggle="dropdown" aria-expanded="false">My Account</button>
            <ul class="dropdown-menu" aria-labelledby="moreoption">
                <li><a class="dropdown-item" href="login.html">Log In</a></li>
                <li><a class="dropdown-item" href="register.html">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>
<a href="#" class="scrollToTop"><i class="fa-solid fa-angle-up"></i></a>
    

<div class="card shadow mt-5" style="width: 700px;margin-left: 200px;height: 400px;">
<div class="container mt-5">
    <form method="post" action="/addpics/" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col">
                Pic1:<input type="file" name="pic1">
            </div>
        </div>    
        <div class="row">
            <div class="col">
                Pic2:<input type="file" name="pic2">
            </div>
        </div>    
        <div class="row">
            <div class="col">
                Pic3:<input type="file" name="pic3">
            </div>
        </div>
        <div class="row">
            <div class="col">
                Pic4:<input type="file" name="pic4">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
               <button type="submit" name="OK" class="btn btn-success rounded" style="margin-left: 600px;">OK </button>
            </div>
        </div>    
    </form>
    </div>
</div>    
{% include 'footeruser.html' %}
